<nav class="navbar bg-transparent sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand m-auto bg-body p-2 rounded">
            <span class="display-6">
                <i class="bi bi-journal-text me-2"></i>
                Haushaltsplan Generator
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="bi bi-arrow-left"></i>
        </button>
        <div class="offcanvas offcanvas-end overflow-y-scroll" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header sticky-top bg-body">
                <h5 id="offcanvasNavbarLabel" class="offcanvas-title d-flex justify-content-between w-100">
                    <i class="bi bi-journal-text me-2 fs-3"></i>
                    <span class="align-self-center w-100 text-center">
                        Haushaltsplan Generator
                    </span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body overflow-visible">
                <div class="nav-item d-flex mb-1">
                    <span class="align-self-center lead">
                        Links
                    </span>
                </div>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 bg-body-secondary px-2 rounded bg-opacity-25">
                    <li class="nav-item">
                        <a class="nav-link d-flex" target="_self" href="{% url 'home' %}">
                            <span class="align-self-center">Home</span>
                            <i class="bi bi-house ms-auto ps-3 fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item" id="configExample">
                        <a class="nav-link d-flex" target="_blank"
                           href="https://github.com/Lukas-Hoernle/Advanced-Software-Engineering">
                            <span class="align-self-center">
                                ASE docs
                            </span>
                            <i class="bi bi-github ms-auto ps-3 fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item" id="configExample">
                        <a class="nav-link d-flex" target="_blank"
                           href="https://github.com/Lukas-Hoernle/Advanced-Software-Engineering">
                            <span class="align-self-center">
                                Code repository
                            </span>
                            <i class="bi bi-code-slash ms-auto ps-3 fs-5"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-bottom p-3">
                <div class="nav-item">
                    <a class="nav-link d-flex" target="_blank"
                       href="https://github.com/Lukas-Hoernle/">
                        <span class="align-self-center">Made by: Luas Hörnle</span>
                        <i class="bi bi-emoji-smile ms-auto ps-3 fs-5"></i>
                    </a>
                </div>
                <div class="nav-item pt-3">
                    <a class="nav-link d-flex fw-light" target="_blank"
                       href="https://github.com/MKrabs/">
                        <span class="align-self-center">Contributions: Smarc</span>
                        <i class="bi bi-emoji-sunglasses ms-auto ps-3 fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>